.classpath
.project
.settings
.studio
target

template-test

# IntelliJ
.idea
*.iml
/ApSeMedicalServicesAdapterIC/src/main/java/se/skltp/adapterservices/monitoring/PingForconfigurationService.java.bak
